.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background:#222;
    color: #f2f2f2;
}

input[type=search] {
    background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
}
input[type=search]:focus {
    width: 600px;
    background-color: #ccc;
    border-color: #333;
    border: solid 1px #fff;
}

.fancy-title {
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    /* font-family: "Ubuntu", Calibri, Candara, Arial, sans-serif; */
    font-weight: 200;
    line-height: 1.2;
    color: inherit
}


/* Tabular Data */
table {
  margin: 15px 5px 30px 5px;
  color: #efefef;
  /* color: #5d5d5d; */
  background-color: #343a40;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

th {
  /* color: #414766; dark desaturated blue gray */
  color: #dbfc05; /* spalding yellow */
  vertical-align: center;
  font-weight: normal;
  padding: 6px 11px;

}
tr {
  /* border-bottom: 1px solid #ccc; */
  padding: 0px 5px;
}

td {
  /* border-right: 1px solid #2b3036; */
  padding: 6px 11px;
}

tr:nth-child(even) {
  background-color: #2b3036;
  /* border-top: 1px solid #eee; */
  /* border-bottom: 1px solid #ddd; */
}

a {
    color: #325e8e;
    background: transparent
}

a:active,
a:hover {
    color: #213142;
    text-decoration: none;
    outline: 0;
}

/*.highlight pre {
    padding: 15px 15px;
}*/

/* scaffolding */
/* ----------- */
h2, h3, h4, h5 {
    margin: 0.8rem 0;
}

p {
    margin: 0 0;
}

.tt-menu,
.gist {
  text-align: left;
}

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}
*/
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
