/*! zenburn syntax highlighting - from http://userstyles.org/styles/88895/github-zenburn */
/*.highlight,.highlight pre,.highlight table { background:#383838 !important;color:#656555 !important; }
.highlight .hll { background-color:#656555 !important; }
.highlight .err { color:#f0dfaf !important;background-color:#6f6f6f !important; }
.highlight .cs { color:#dca3a3 !important;background-color:#8c5353 !important; }
.highlight .nf { color:#93e0e3 !important; }
.highlight .c,.highlight .cm,.highlight .c1 { color:#5c888b !important; }
.highlight .g,.highlight .l,.highlight .x,.highlight .ge,.highlight .gs,.highlight .ld,.highlight .ni,
.highlight .nl,.highlight .nx,.highlight .py,.highlight .n,.highlight .go,
.highlight .h { color:#6ca0a3 !important; }
.highlight .k { color:#f0dfaf !important; }
.highlight .s1 { color:#bc8383 !important; }
.highlight .nb,.highlight .bp { color:#8cd0d3 !important; }
.highlight .nc,.highlight .nn { color:#7cb8bb !important; }
.highlight .o,.highlight .p,.highlight .na,.highlight .ne { color:#dcdccc !important; }
.highlight .gp,.highlight .w,.highlight .gh,.highlight .gu { color:#656555 !important; }
.highlight .cp,.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,
.highlight .sh,.highlight .si,.highlight .ss,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,
.highlight .kr,.highlight .kt,.highlight .nt,.highlight .ow { color:#8fb28f !important; }
.highlight .gr,.highlight .gt,.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,
.highlight .mo,.highlight .sr,.highlight .il { color:#9c6363 !important; }
.highlight .no,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi,.highlight .nd,
.highlight .sx { color:#dfaf8f !important; }
*/
/* hilite.css */
pre {
  /*border: 2px solid #555;*/
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

/*pre { background-color: #3b414e; color: #fafcfd; }*/
pre { background-color: transparent; color: #fafcfd; }
.hll { background-color: #49483e }
.c { color: #aa9a83 } /* Comment */
.err { color: #ef5847 } /* Error */
.k { color: #9ed9d8 } /* Keyword */
.l { color: #beb090 } /* Literal */
.n { color: #f6f6c9 } /* Name */
.o { color: #8199ad } /* Operator */
.p { color: #f6f6c9 } /* Punctuation */
.cm { color: #aa9a83 } /* Comment.Multiline */
.cp { color: #aa9a83 } /* Comment.Preproc */
.c1 { color: #aa9a83 } /* Comment.Single */
.cs { color: #aa9a83 } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #9ed9d8 } /* Keyword.Constant */
.kd { color: #9ed9d8 } /* Keyword.Declaration */
.kn { color: #8199ad } /* Keyword.Namespace */
.kp { color: #9ed9d8 } /* Keyword.Pseudo */
.kr { color: #9ed9d8 } /* Keyword.Reserved */
.kt { color: #9ed9d8 } /* Keyword.Type */
.ld { color: #ff5879 } /* Literal.Date */
.m { color: #beb090 } /* Literal.Number */
.s { color: #ff5879 } /* Literal.String */
.na { color: #a2d9b1 } /* Name.Attribute */
.nb { color: #f6f6c9 } /* Name.Builtin */
.nc { color: #a2d9b1 } /* Name.Class */
.no { color: #9ed9d8 } /* Name.Constant */
.nd { color: #a2d9b1 } /* Name.Decorator */
.ni { color: #f6f6c9 } /* Name.Entity */
.ne { color: #a2d9b1 } /* Name.Exception */
.nf { color: #a2d9b1 } /* Name.Function */
.nl { color: #f6f6c9 } /* Name.Label */
.nn { color: #f6f6c9 } /* Name.Namespace */
.nx { color: #a2d9b1 } /* Name.Other */
.py { color: #f6f6c9 } /* Name.Property */
.nt { color: #8199ad } /* Name.Tag */
.nv { color: #f6f6c9 } /* Name.Variable */
.ow { color: #8199ad } /* Operator.Word */
.w { color: #f6f6c9 } /* Text.Whitespace */
.mf { color: #beb090 } /* Literal.Number.Float */
.mh { color: #beb090 } /* Literal.Number.Hex */
.mi { color: #beb090 } /* Literal.Number.Integer */
.mo { color: #beb090 } /* Literal.Number.Oct */
.sb { color: #ff5879 } /* Literal.String.Backtick */
.sc { color: #ff5879 } /* Literal.String.Char */
.sd { color: #ff5879 } /* Literal.String.Doc */
.s2 { color: #ff5879 } /* Literal.String.Double */
.se { color: #beb090 } /* Literal.String.Escape */
.sh { color: #ff5879 } /* Literal.String.Heredoc */
.si { color: #ff5879 } /* Literal.String.Interpol */
.sx { color: #ff5879 } /* Literal.String.Other */
.sr { color: #ff5879 } /* Literal.String.Regex */
.s1 { color: #ff5879 } /* Literal.String.Single */
.ss { color: #ff5879 } /* Literal.String.Symbol */
.bp { color: #f6f6c9 } /* Name.Builtin.Pseudo */
.vc { color: #f6f6c9 } /* Name.Variable.Class */
.vg { color: #f6f6c9 } /* Name.Variable.Global */
.vi { color: #f6f6c9 } /* Name.Variable.Instance */
.il { color: #beb090 } /* Literal.Number.Integer.Long */
