{% extends "base.html" %}

{% block title %}Download Form{% endblock %}

{% block content_title %}<h2 class="fancy-title mt-4">Download Form</h2>{% endblock %}

{% block content %}
  <form action="{% block form_action %}{{ url_for('create') }}{% endblock %}" class="form-horizontal" method="post">

    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input class="form-control" id="title" name="title" type="text" value="{{ entry.title }}">
      </div>
    </div>


    <p>The download path will be created in {{ entry.output_dir }} if it does not exist.</p>
    <div class="form-group">
      <label for="path" class="col-sm-2 control-label">Download path</label>
      <div class="col-sm-10">
        <input class="form-control" id="path" name="path" type="text" value="{{ entry.path }}">
      </div>
    </div>


    
    <div class="form-group">
      <label for="Content" class="col-sm-2 control-label">URLs</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="urls" name="urls" style="height: 300px;">{{ entry.urls }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <input name="enabled" type="checkbox" data-toggle="toggle" data-onstyle="info"  data-on="Enabled" data-off="Disabled" value="y" {% if entry.enabled %} checked="checked" {% endif %}>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit">{% block save_button %}Add{% endblock %}</button>
        <a class="btn btn-default" href="{{ url_for('index') }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
